@media screen and (max-width: 480px) {
  .text {
    font-size: 16px;
    left: 30px;
    top: 80%;
    /* bottom: -50px; */
  }

  #up {
    border-top: 70px solid #f06060;
    border-right: 70px solid transparent;
    border-left: 70px solid transparent;
    left: 30px;
  }

  #r {
    border-right: 70px solid #10a296;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    left: 100px;
  }

  #dn {
    border-bottom: 70px solid #fa987d;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    top: 70px;
    left: 30px;
  }

  #l {
    border-left: 70px solid #72cca7;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 16px;
    left: 30px;
    top: 190px;
    /* bottom: -100px; */
  }
}
